<% layout("/layouts/boilerplate.ejs") %>

  <!-- <h3>All Listings</h3> -->
  <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
 


<style>
  body {
    font-family: 'Nunito', sans-serif;
  }
  .listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card.body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}

.listing-links{
    text-decoration: none;
}

  .card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer; 
  }
  .filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 10rem;
    display: flex;
    align-items: center;
  }
  /* nav  */
.navbar{
  height: 5rem;
  background-color: white;
}

.fa-compass{
  color: #fe424d;
  font-size: 2rem;
}

.nav-link{
  color: #222222 !important;
}

.f-info-links a{
  text-decoration: none;
  color: #222222;

}
.f-info-links a:hover{
  text-decoration: underline;
}
.f-info-links, 
.f-info-socials,
.f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials{
  width: 100%;
  font-size: 1.2rem;
  margin-right: 2rem;
  padding: 2rem;

}

.f-info-socials i{
  margin-right: 1rem;
  font-size: 1rem;
}

.f-info{
  text-align: center;
  display: flex;
  background-color: #ebebeb;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
</style>

    <div id="filters">

      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cites</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castle</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </div>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
        </div>
      </div>

    </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>

      <a href="/listings/<%= listing._id %>" class="listing-links">
        <div class="card col listing-card" >
          <img 
          src="<%= listing.image.url %>" 
          class="card-img-top"
          alt="listing_image" 
          style="height: 20rem;"
          />
     
          
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
          <b> <%= listing.title %></b><br> 
            &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night
            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
          </p>
        </div>
      </div>
      <% } %>
  </div>


  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
      let taxinfo = document.getElementsByClassName("tax-info"); 
      for(info of taxinfo){
        if(info.style.display != "inline"){
          info.style.display= "inline";
        }else{
          info.style.display= "none";
        }
      }
    });
  </script>